<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Not Alone</title>
</head>
<body>
    <div id="mainContainer">
        <section id="top">
            <a href="/"><img src="/headyGoose.png" alt="" id="logo"></a>
            <img src="/tagline.png" alt="" id="tagline">
            <div class="dropdown">
                <button class="dropbtn">Songs</button>
                <nav>
                <div class="dropdown-content">
                    <a href="726">726</a>
                    <a href="allineed">All I Need</a>
                    <a href="animal">Animal</a>
                    <a href="arcadia">Arcadia</a>
                    <a href="arise">Arise</a>
                    <a href="arrow">Arrow</a>
                    <a href="atlasdogs">Atlas Dogs</a>
                    <a href="awesternsun">A Western Sun</a>
                    <a href="bobdon">Bob Don</a>
                    <a href="borne">Borne</a>
                    <a href="butterflies">Butterflies</a>
                    <a href="butterrum">Butter Rum</a>
                    <a href="californiamagic">California Magic</a>
                    <a href="creatures">Creatures</a>
                    <a href="dimlights">Dim Lights</a>
                    <a href="doobiesong">Doobie Song</a>
                    <a href="dragonfly">Dragonfly</a>
                    <a href="drdarkness">Dr Darkness</a>
                    <a href="dripfield">Dripfield</a>
                    <a href="drive">Drive</a>
                    <a href="earthlingoralien">Earthling or Alien?</a>
                    <a href="echoofarose">Echo of a Rose</a>
                    <a href="elizabeth">Elizabeth</a>
                    <a href="elmegthewise">Elmeg The Wise</a>
                    <a href="everythingmustgo">Everything Must Go</a>
                    <a href="feelitnow">Feel It Now</a>
                    <a href="flowdown">Flowdown</a>
                    <a href="honeybee">Honeybee</a>
                    <a href="hottea">Hot Tea</a>
                    <a href="hungersite">Hungersite</a>
                    <a href="indianriver">Indian River</a>
                    <a href="intothemyst">Into The Myst</a>
                    <a href="itburnswithin">It Burns Within</a>
                    <a href="jeffengborg">Jeff Engborg</a>
                    <a href="jive1">Jive I</a>
                    <a href="jive2">Jive II</a>
                    <a href="jivelee">Jive Lee</a>
                    <a href="leadtheway">Lead The Way</a>
                    <a href="leadup">Lead Up</a>
                    <a href="lifeontheshelf">Life on the Shelf</a>
                    <a href="lilystiger">Lily's Tiger</a>
                    <a href="looseends">Loose Ends</a>
                    <a href="madhuvan">Madhuvan</a>
                    <a href="moby">Moby</a>
                    <a href="moonrise">Moonrise</a>
                    <a href="mraction">Mr. Action</a>
                    <a href="notalone">Not Alone</a>
                    <a href="pancakes">Pancakes</a>
                    <a href="redbird">Red Bird</a>
                    <a href="rockdale">Rockdale</a>
                    <a href="rosewoodheart">Rosewood Heart</a>
                    <a href="seekersontheridge">Seekers on the Ridge</a>
                    <a href="silverrising">Silver Rising</a>
                    <a href="slowready">Slow Ready</a>
                    <a href="soready">So Ready</a>
                    <a href="sos">SOS</a>
                    <a href="spiritofthedarkhorse">Spirit of the Dark Horse</a>
                    <a href="thatch">Thatch</a>
                    <a href="theempressoforganos">The Empress of Organos</a>
                    <a href="thelabyrinth">The Labyrinth</a>
                    <a href="theoldmansboat">The Old Man's Boat</a>
                    <a href="thewhales">The Whales</a>
                    <a href="thisoldsea">This Old Sea</a>
                    <a href="timetoflee">Time To Flee</a>
                    <a href="travelers">Travelers</a>
                    <a href="trevorreadspoetry">Trevor Reads Poetry</a>
                    <a href="tumble">Tumble</a>
                    <a href="turkishhills">Turkish Hills</a>
                    <a href="turnedclouds">Turned Clouds</a>
                    <a href="whitelights">White Lights</a>
                    <a href="wysterialane">Wysteria Lane</a>
                    <a href="yeti">Yeti</a>
                    <a href="yourocean">Your Ocean</a>

                </div></nav>
            </div>
            <div class="portal">
                <a href="" id="login">login</a>
                <a href="">sign up</a>
            </div>
        </section>
        <form action="" class="searchBar">
            <div>
                <input type="text" id="search" placeholder="search for a song">
            </div>
            <button><img src="/search.png" alt=""></button>
            
        </form>
        <section id="songPageBody">
            <h1>Not Alone Best Versions</h1>
            <a href="newSubmission"><button id="newBtn">Submit New Version!</button></a>
        </section>
        <section id="footer">
            <p>headygoose.com, 2023</p>
        </section>
    </div>
</body>
</html>